@page
@model TeenHack.Pages.Ranking.RankingModel
@{
}

		<a class = "b" asp-area="" asp-page="/Students/ivan-ivanow"><h3>1.ivan ivanow</h3></a>
	
		<a class = "b" asp-area="" asp-page="/Students/boris-borislaw"><h3>2.Boris borislaw</h3></a>
	
		<a class = "b" asp-area="" asp-page="/Students/maksim-maksimow"><h3>3.maksim maksimow</h3></a>
	
		<a class = "b" asp-area="" asp-page="/Students/kristiqn-kristiqnow"><h3>4.kristiqn kristiqnow</h3></a>

