@page
@model TeenHack.Pages.Ranking.RankingModel
@{
}
<ol>
	<li>
		<a asp-area="" asp-page="/Students/ivan-ivanow">ivan ivanow</a>
	</li>
	<li>
		<a asp-area="" asp-page="/Students/boris-borislaw">Boris borislaw</a>
	</li>
	<li>
		<a asp-area="" asp-page="/Students/maksim-maksimow">maksim maksimow</a>
	</li>
	<li>
		<a asp-area="" asp-page="/Students/kristiqn-kristiqnow">kristiqn kristiqnow</a>
	</li>
</ol>
