@page
@model TeenHack.Pages.Students.ivan_ivanowModel
@{
}





<div>
    <div class= "l">
        <img src="~/images/download.png">
        
    </div>
    <div class ="c" >
        <h2 > Иван иванов</h2>
        <p>school: Англйска гимназия</p>
        <p>Уроци по бел</p>
    </div>
    <div class = "r">
        <a class="btn btn-primary mt-2" asp-area="" asp-page="/experimento/index"><p>hire</p></a>
    </div>
</div>
<hr />