@page
@model TeenHack.Pages.Students.maksim_maksimowModel
@{
}

<div>
    <div class= "l">
        <img src="~/images/download.png">
        
    </div>
    <div class ="c" >
        <h2 >максим максимов</h2>
        <p>school: Мг. "Баба Тонка"</p>
        <p>Уроци по история</p>
    </div>
    <div class = "r">
        <a class="btn btn-primary mt-2" asp-area="" asp-page="/Students/Students"><p>hire</p></a>
    </div>
</div>
<hr />